.Rproj.user
.Rhistory
.RData
.Ruserdata
default_input_data
test/out
.ipynb_checkpoints
.Rproj.user
__pycache__
scripts/__pycache__
scripts/.ipynb_checkpoints
scripts/.vscode
setup.py
test/input
test/output
required_packages/pyVEP-master.zip
scripts/test_file.txt
pics/protein_logo.cxs
pics/LogoPDB_PDBmapper_LOGO2.svg
scripts/input_pdbmapper
out